#review {
  margin: 20px auto;
  color: #c7d5e0;
  background-color: #171a21;
  padding: 10px;
  max-width: 600px;
}
#review h1 {
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.gameTitle {
  color: rgb(159, 0, 0);
  margin: 0;
  padding: 0;
}
#reviewText {
  border-left: 4px solid #66c0f4;
  padding: 20px;
}
#review button {
  display: block;
  margin: auto;
  width: 50%;
  padding: 6px;
  background-color: #2a475e;
  color: #66c0f4;
}
button:hover,
input[type="submit"] {
  cursor: pointer;
}
